* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgba(245, 248, 255, 1);
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.noto {
    font-family: "Noto Serif", serif;
}

.description {
    color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: 0;
}

.h2-color {
    color: rgba(233, 90, 8, 1);
}

.btn {
    background-color: rgba(233, 90, 8, 1);
    width: 270px;
    height: 50px;
    color: white;
    border: none;
    margin-top: 20px;
}

/* nav Style */
.brand-logo {
    width: 135px;
    height: 82px;
    margin: 0;
}

.nav-bar {
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1280px;
    margin-bottom: 120px;
}

.nav-items {
    padding-top: 22px;
    padding-bottom: 22px;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.cart-part {
    display: flex;
    gap: 6px;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.bold-nav {
    color: rgba(37, 36, 50, 1);
}

/* hero banner */
.banner {
    align-items: end;
    justify-content: space-between;
    margin-bottom: 130px;
}

.banner-left h1 {
    font-size: 4rem;
    color: rgba(233, 90, 8, 1);
    width: 75%;
    margin: 0;
    line-height: 4.5rem;
    margin-bottom: 16px;
}

.h1-color {
    color: rgba(0, 0, 0, 1);
}

.banner-right img {
    display: block;
}


/* Card Section */
.top-part {
    text-align: center;
    justify-content: center;
}

.top-part p {
    text-align: center;
    max-width: 55%;
    margin: auto;
    margin-bottom: 100px;
}

.top-part h2 {
    font-size: 3.1rem;
}

/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* margin: 0;
    padding: 0; */
    max-width: 100%;
    margin-top: 48px;
    margin: auto;
    padding: 0;
}

.card {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.1), 0 6px 20px 0 rgba(130, 130, 130, 0.35);
    margin:16px center;
}

.card img {
    margin-bottom: 1rem;
}

/* Flower & Plants Lover */
.lover-container {
    gap: 4rem;
    align-items: center;
    margin-bottom: 120px;
    margin-top: 210px;
    position: relative;
}

.badge {
    position: absolute;
    width: 250px;
    left: 380px;
    top: -120px;
    margin: 0;
    padding: 0;
    z-index: 1;
    background: transparent;
}

.lover-left img {
    position: relative;
    display: flex;
}

.lover-right h2 {
    font-size: 3.2rem;
    margin-bottom: 42px;
}

.lover-right li {
    padding-bottom: 30px;
    padding-left: 42px;
}


/* Latest Deals */

.latest-deals-container {
    gap: 32px;
    height: 450px;
    margin-bottom: 130px;
    justify-content: space-between;
    margin-top: 80px;
}

.latest-deal-left {
    gap: 32px;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.latest-deal-left .top-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/deal-bloom.png");
    width: 100%;
    height: 50%;
    border-radius: 14px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-deal-left .top-img a {
    color: white;
    font-weight: bold;
}

.latest-deal-left .bottom-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/deal-ana.png);
    width: 100%;
    height: 50%;
    border-radius: 14px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-deal-left .bottom-img a {
    color: white;
    font-weight: bold;
}

.latest-deal-right {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../assets/deal-zabo.png);
    width: 100%;
    height: auto;
    border-radius: 14px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-deal-right a {
    color: white;
    font-weight: bold;
}

/* Customize-floral */

.customize {
    align-items: center;
    background-color: white;
    border-radius: 24px;
    border: 0.3px solid rgb(196, 196, 196);
}

.customize-img-container img {
    width: 250px;
    height: 250px;
    padding: 8px;
    border-radius: 24px;
}

.customize-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 24px;
}

.customize-right {
    padding-left: 80px;
}

.customize-right .btn {
    border-radius: 8px;
    margin-top: 24px;
}

.customize-right h2 {
    font-size: 3rem;
    margin-bottom: 24px;
}

/* footer section */
.emailbox {
    height: 50px;
    width: 644px;
    margin-bottom: 120px;
    padding-left: 25px;
}

.footermail h1 {
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 12px;
}

.footermail {
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    width: 100%;
    height: 533px;
    margin-top: 120px;
}

.down-footer {
    margin-bottom: 24px;
    justify-content: space-between;
    gap: 32px;
}

.down-footer .left {
    width: 30%;
}

.down-footer .left img {
    margin-bottom: 24px;
}

.down-footer .middle1 {
    width: 20%;
}

.middle1 li,
.middle2 li {
    list-style: none;
    display: grid;
    grid-template-columns: 1;
    gap: 42px;
    text-decoration: none;
    justify-content: start;
}

.middle1 li a,
.middle2 li a {
    text-decoration: none;
    color: rgba(37, 36, 50, 1);
    margin-left: 0;
}

.down-footer .middle2 {
    width: 20%;
}

.down-footer .right {
    width: 30%;
    font-style: normal;
    align-items: center;
}

.right img {
    grid-row: auto;
    margin: 0 24px;
    width: 36px;
}





/* mobile responsive */
@media screen and (max-width: 576px) {

    .nav-bar {
        justify-content: space-between;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 30px;
        margin-top: 10px;
        align-items: center;
        

    }

    .nav-item {
        background-color: rgb(255, 255, 255);
        display: none;
    }
    .brand-logo img{
        width: 50%;
        margin-top: 0.5rem;
    }
    .banner {
        flex-direction: column-reverse;
        gap: 30px;
        width: 95%;
    }

    .banner img {
        margin-right: 16px;
        width: 100%;

    }

    .banner-left h1 {
        max-width: 75%;
        font-size: 2.2rem;
        line-height: 2.4rem;
        padding-left: 8px;
    }

    .banner .description {
        width: 90%;
        padding-left: 8px;
    }

    /* card container */
    .card-container {
        /* display: grid;
        grid-template-columns:
        repeat(auto-fill, minmax(200px, 2fr)); */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* display: flex; */
        /* flex-wrap: wrap; */
        gap: 0;
        max-width: 100%;

        max-width: 100%;
        margin-top: 48px;
        background-color:transparent;
        margin: 6px;
        padding: 0;

    }

    .card {
        text-align: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.1), 0 6px 20px 0 rgba(130, 130, 130, 0.35);
        width: 70%;
    }
    .card h2{
        font-size: 1.2rem;
    }
    .card h3{
        font-size: 0.8rem;
    }
    .card .btn {
        width: 100%;
    }

    .card img {
        margin-bottom: 10px;
        width: 100%;
    }

    .top-part h2 {
        font-size: 1.8rem;
    }

    .top-part p {
        max-width: 95%;
        margin: auto;
        margin-bottom: 80px;
    }

    /* lover container */
    .lover-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
    }

    .lover-container img {
        width: 90%;
    }




    .badge {
        display: none;
    }

    .lover-right h2 {
        font-size: 1.5rem;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .lover-right h2 br {
        display: none;
    }

    .lover-right li {
        width: 95%;
    }

    .latest-deals-container {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .latest-deal-left {
        width: 100%;
        height: 500%;
    }

    .latest-deal-right {
        width: 100%;
        height: 250%;
    }

    .customize {
        flex-direction: column;
        padding-bottom: 32px;
        display: none;
    }

    .footermail {
        flex-direction: column;
    }

    .footermail h1 {
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    .footermail {
        width: 100%;
        height: 250px;
    }

    .emailbox {
        width: 12rem;
        height: 50px;
        margin: 0;
        flex-wrap: ;
    }

    .footermail .btn {
        width: 103px;
    }

    .down-footer {
        flex-direction: column;

    }

    .down-footer .left {
        width: 90%;
    }

    .down-footer .left img {
        margin-bottom: 16px;
    }

    .down-footer .middle1 {
        width: 90%;
    }

    /* .middle1 li,
    .middle2 li {
        list-style: none;
        display: grid;
        grid-template-columns: 1;
        gap: 42px;
        text-decoration: none;
        justify-content: start;
    } */

    .middle1 li a,
    .middle2 li a {
        text-decoration: none;
        color: rgba(37, 36, 50, 1);
        margin-left: 0;
    }

    .down-footer .middle2 {
        width: 90%;
    }

    .down-footer .right {
        width: 75%;
        font-style: normal;
        align-items: center;
        margin-left: 0;
    }

    .right img {
        width: 24px;
        margin: 16px;
    }

}