* {
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* Shared Styles */
.display-flex{
    display: flex;
}
.container{
    max-width: 1280px;
    margin:0 auto;
}
.noto{
    font-family: "Noto Serif", serif;
}
.description{
    color: rgba(0, 0, 0, 0.5);
    width: 75%;
    margin: 0;
}
.h2-color{
    color: rgba(233, 90, 8, 1);
}
.btn{
    background-color: rgba(233, 90, 8, 1);
    width: 270px;
    height: 50px;
    color: white;
    border: none;
    margin-top: 20px;
}
/* nav Style */
.brand-logo{
    width: 135px;
    height: 82px;
    margin: 0;
}
.nav-bar{
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 1280px;
    margin-bottom: 120px;
}
.nav-items{
    padding-top: 22px;
    padding-bottom: 22px;
    gap: 24px;
    margin: 0;
    padding: 0;
} 
.cart-part{
    display: flex;
    gap: 6px;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
.bold-nav{
    color: rgba(37, 36, 50, 1);
}

/* hero banner */
.banner{
    align-items: end;
    justify-content: space-between;
    margin-bottom: 130px;
}
.banner h1{
    font-size: 4rem;
    color: rgba(233, 90, 8, 1);
    width: 75%;
    margin: 0;
    line-height: 4.5rem;
    margin-bottom: 16px;
}
.h1-color{
    color: rgba(0, 0, 0, 1);
}
.banner-right img{
    display: block;
}


/* Card Section */
.top-part{
    text-align: center;
    justify-content: center;
}
.top-part p{
    text-align: center;
    max-width: 55%;
    margin: auto;
}
.top-part h2{
    font-size: 3.1rem;
}

/* card */

.card{
    background-color: blanchedalmond;
    width: auto;
    height: auto;
    text-align: center;
    height: fit-content;
    max-width: 1280px;
    margin-bottom: 32px;
    background-color: white;
}
.card img{
    margin-bottom: 16px;
}

.card-container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
    max-width: 1280px;
    gap: 24px;
    margin-top: 48px;
}


/* Flower & Plants Lover */
.lover-container{
    gap: 4rem;
    align-items: center; 
    margin-bottom: 120px;
    margin-top: 210px;
    position: relative;
}
.badge{
    position: absolute;
    width: 250px;
    left: 380px;
    top: -120px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.lover-left img{
    position:relative; 
}
.lover-right h2{
    font-size: 3.2rem;
    margin-bottom: 42px;
}
.lover-right li{
    padding-bottom: 30px;
    padding-left: 42px;
}

/* mobile responsive */

@media (max-width: 768px) {
    
    .nav-bar {
        justify-content: space-between;
        margin-left: 8px;
        margin-right: 8px;
        margin-bottom: 30px;
    }
    .nav-item{
        background-color: brown;
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .banner img{
        margin-right: 0;
    }
    .banner h1{
        font-size: 2.8rem;
        line-height: 3rem;
        padding-left: 8px;
    }
    .banner .description{
        width: 90%;
        padding-left: 8px;
    }
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-part h2{
        font-size: 2rem;
    }
    .top-part p{
        max-width: 95%;
        margin: auto;
    }
    .lover-container{
        flex-direction: column;
        gap: 10px;
        margin-top: 24px;
    }
    .badge{
        display: none;
    }
    .lover-right h2{
        font-size: 1.5rem;
        margin-left: 30px;
    }
    .lover-right h2 br{
        display: none;
    }
    .lover-right li{
        width: 95%;
    }
}    